@using System.Globalization
@using Newtonsoft.Json
@using QA.Core.DPC.Resources
@using QA.ProductCatalog.Admin.WebApp.Core
@model QA.ProductCatalog.Admin.WebApp.Models.TasksPageInfo

@section head {
  <link href="~/css/Task/Index.css" rel="stylesheet" />
}

<div id="task"></div>

@section scripts{
  <script type="text/javascript" defer>
    window.task = {
      showOnlyMine: "@(Context.Request.Query["showOnlyMine"])" === "true",
      allowSchedule: "@(Context.Request.Query["allowSchedule"])" === "true",
      locale: "@CultureInfo.CurrentUICulture".split("-")[0],
      statusValues: [
        @(Html.Raw(string.Join(",", Model.States.Select(x => "{label:'" + x.Value + "',value:" + x.Key + "}"))))
      ],
      strings: {
        userName: '@Html.Raw(TaskStrings.UserName)',
        status: '@Html.Raw(TaskStrings.Status)',
        schedule: '@Html.Raw(TaskStrings.Schedule)',
        progress: '@Html.Raw(TaskStrings.Progress)',
        name: '@Html.Raw(TaskStrings.Name)',
        created: '@Html.Raw(TaskStrings.Created)',
        lastStatusChange: '@Html.Raw(TaskStrings.LastStatusChange)',
        message: '@Html.Raw(TaskStrings.Message)',
        isFalse: '@Html.Raw(TaskStrings.No)',
        isTrue: '@Html.Raw(TaskStrings.Yes)',
        filter: '@Html.Raw(TaskStrings.Apply)',
        clear: '@Html.Raw(TaskStrings.Clear)',
        every: '@Html.Raw(TaskStrings.Every)',
        year: '@Html.Raw(TaskStrings.Year)',
        hour: '@Html.Raw(TaskStrings.Hour)',
        day: '@Html.Raw(TaskStrings.Day)',
        week: '@Html.Raw(TaskStrings.Week)',
        month: '@Html.Raw(TaskStrings.Month)',
        minute: '@Html.Raw(TaskStrings.Minute)',
        on: '@Html.Raw(TaskStrings.on)',
        off: '@Html.Raw(TaskStrings.off)',
        dayOfMonth: '@Html.Raw(TaskStrings.DayOfMonth)',
        at: '@Html.Raw(TaskStrings.At)',
        everyDayOfMonth: '@Html.Raw(TaskStrings.EveryDayOfMonth)',
        everyDayOfWeek: '@Html.Raw(TaskStrings.EveryDayOfWeek)',
        minutesPastHour: '@Html.Raw(TaskStrings.MinutesPastHour)',
        taskRecurrenceSchedule: '@Html.Raw(TaskStrings.TaskRecurrenceSchedule)',
        taskId: '@Html.Raw(TaskStrings.TaskId)',
        scheduleEnabled: '@Html.Raw(TaskStrings.ScheduleEnabled)',
        recurrenceMode: '@Html.Raw(TaskStrings.RecurrenceMode)',
        modeRepeat: '@Html.Raw(TaskStrings.ModeRepeat)',
        modeOneTime: '@Html.Raw(TaskStrings.ModeOneTime)',
        recurrencePeriod: '@Html.Raw(TaskStrings.RecurrencePeriod)',
        periodMinute: '@Html.Raw(TaskStrings.PeriodMinute)',
        periodHour: '@Html.Raw(TaskStrings.PeriodHour)',
        periodDay: '@Html.Raw(TaskStrings.PeriodDay)',
        periodWeek: '@Html.Raw(TaskStrings.PeriodWeek)',
        periodMonth: '@Html.Raw(TaskStrings.PeriodMonth)',
        periodYear: '@Html.Raw(TaskStrings.PeriodYear)',
        monthDays: '@Html.Raw(TaskStrings.MonthDays)',
        months: '@Html.Raw(TaskStrings.Months)',
        hours: '@Html.Raw(TaskStrings.Hours)',
        minutes: '@Html.Raw(TaskStrings.Minutes)',
        weekDays: '@Html.Raw(TaskStrings.WeekDays)',
        close: '@Html.Raw(TaskStrings.Close)',
        apply: '@Html.Raw(TaskStrings.Apply)',
        cronParseError: '@Html.Raw(TaskStrings.CronParseError)',
        typicalError: '@Html.Raw(TaskStrings.TypicalError)',
        all: '@Html.Raw(TaskStrings.All)',
        sun: '@Html.Raw(TaskStrings.Sun)',
        mon: '@Html.Raw(TaskStrings.Mon)',
        tue: '@Html.Raw(TaskStrings.Tue)',
        wed: '@Html.Raw(TaskStrings.Wed)',
        thu: '@Html.Raw(TaskStrings.Thu)',
        fri: '@Html.Raw(TaskStrings.Fri)',
        sat: '@Html.Raw(TaskStrings.Sat)',
        jan: '@Html.Raw(TaskStrings.Jan)',
        feb: '@Html.Raw(TaskStrings.Feb)',
        mar: '@Html.Raw(TaskStrings.Mar)',
        apr: '@Html.Raw(TaskStrings.Apr)',
        may: '@Html.Raw(TaskStrings.May)',
        jun: '@Html.Raw(TaskStrings.Jun)',
        jul: '@Html.Raw(TaskStrings.Jul)',
        aug: '@Html.Raw(TaskStrings.Aug)',
        sep: '@Html.Raw(TaskStrings.Sep)',
        oct: '@Html.Raw(TaskStrings.Oct)',
        nov: '@Html.Raw(TaskStrings.Nov)',
        dec: '@Html.Raw(TaskStrings.Dec)',
        state: "@Html.Raw(TaskStrings.State)",
        task: "@Html.Raw(TaskStrings.Task) ",
        proceed: "@Html.Raw(TaskStrings.Processed)",
        customer: "@Html.Raw(TaskStrings.Customer)",
        created: "@Html.Raw(TaskStrings.Create)",
        changed: "@Html.Raw(TaskStrings.Changed)",
        nameFilterValidation: "@Html.Raw(TaskStrings.NameFilterValidation)",
        fromDate: "@Html.Raw(TaskStrings.FromDate)",
        toDate: "@Html.Raw(TaskStrings.ToDate)"
      },
      notify: {
        isNotifyActive: "@Model.Notify",
        runningStateId: "@((byte) QA.Core.ProductCatalog.ActionsRunnerModel.State.Running)",
        img: '@Url.Content("~/images/TaskStates/")',
        formRenderedServerTime: "@DateTime.Now.ToString(System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))"
      }
    }
  </script>
  <script src="~/js/pmrpc.js"></script>
  <script src="~/js/bundles/Task/Index.js" defer></script>
}
