<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title>@(ViewBag.Title ?? "DPC")</title>
  <meta name="app" content="dpc" />
  <link href="~/css/site.min.css" rel="stylesheet" />

	@RenderSection("jquery", false)

  <script src="~/js/bundles/scripts.min.js"></script>
  
	@RenderSection("head", false)
	<script>
		Url.SetRootPath("@Url.Content("~/")");
		if (!window.console) {
			window.console = {};
			window.console.log = function () { };
			window.console.error = function() {};
		}

    @if (!string.IsNullOrEmpty(ViewBag.HostId))
		{
		<text>
		  window.name = '@(ViewBag.HostId)';
		</text>
		} 
	</script>
</head>
<body>
<div class="loadingLayer hidden"></div>
@RenderBody()
@RenderSection("scripts", false)
</body>
</html>

@section jquery {
	<text>
    <script src="~/js/jquery.min.js"></script>
	</text>	
}