@model QA.ProductCatalog.Admin.WebApp.Models.CardModel
@{
    ViewBag.Title = "Продукт";
}
@if (Model == null)
{
    <h1>Ошибка при отображении продукта.</h1>
    <p>@ViewBag.Message</p>
    return;
}

@section jquery{
	@Scripts.Render("~/bundles/KendoUI")
}

@section head{
	@Styles.Render("~/content/KendoUI/KendoUIStyles")
}

<div class="formLayout">    
    @if (Model.Cultures.Length > 0)
    {
        <fieldset>
            <legend>Локализация</legend>
            <div class="gr-wrapper">
            @foreach (var culture in Model.Cultures)
            {
                <span style="padding-right:15px;">
                    @if (culture.Equals(Model.CurrentCultute))
                    {
                    <b>
                        <a class="js" href="@Url.Current(new { lang = culture.Name })">@culture.NativeName</a>
                    </b>
                    }
                    else
                    {
                    <a class="js" href="@Url.Current(new { lang = culture.Name })">@culture.NativeName</a>
                    }
                </span>
            }
            </div>
        </fieldset>
    }           
    @Html.DisplayFor(m => m.Control)
</div>

@section scripts{
    @Scripts.Render("~/bundles/product/index")

    <script>
        $(function () {
            QA.Product.Index.init();
        });
    </script>
}