@using QA.Core.Models.Entities
@model QA.Core.DPC.UI.Controls.DisplayField
@if (Model == null) { return; }
@{ var field = Model.Value; }
@if (field == null) { return; }
@{ var value = field.NativeValue != null ? field.NativeValue.ToString() : string.Empty;
    if (Model.HideEmptyPlainFields && string.IsNullOrEmpty(value))
    {
        return;
    }
}

<dl class="plain-field row @(Model.ClassName??String.Empty)">
    <dt class="plain-field-capture label">@field.FieldDisplayName: </dt>
    <dd class="plain-field-value field">
        @if (field.PlainFieldType == PlainFieldType.Boolean)
        {
            <input class="bp3-input bp3-fill" type="checkbox" disabled="disabled" @(value == "1" ? "checked='checked'" : "") data-value="@(field.NativeValue)" />
        }
        else if (field.PlainFieldType == PlainFieldType.VisualEdit|| field.PlainFieldType == PlainFieldType.Textbox)
        {
            <textarea class="bp3-input bp3-fill" readonly="readonly" cols="65" rows="5">@value</textarea>
        }
        else if (field.PlainFieldType == PlainFieldType.String)
        {
            <input type="text" class="bp3-input bp3-fill" readonly="readonly" value="@value" />
        }
        else if (field.PlainFieldType == PlainFieldType.Image || field.PlainFieldType == PlainFieldType.DynamicImage)
        {
            <div class="bp3-input-group">
              <input type="text" class="bp3-input bp3-fill" readonly="readonly" value="@value" />
              <a href="@Model.GetFileUrl(field)" target="_blank" role="button" class="bp3-button bp3-minimal bp3-intent-success" title="Открыть изображение в новой вкладке">
                  <i class="icon fas fa-external-link-alt"></i>
              </a>
            </div>
        }
        else if (field.PlainFieldType == PlainFieldType.File)
        {
            <div class="bp3-input-group">
              <input type="text" class="bp3-input bp3-fill" readonly="readonly" value="@value" />
              <a href="@Model.GetFileUrl(field)" target="_blank" role="button" class="bp3-button bp3-minimal bp3-intent-success" title="Открыть файл в новой вкладке">
                  <i class="icon fas fa-external-link-alt"></i>
              </a>
            </div>
        }
        else
        {
            @: @(value.Length > 256 ? value.Substring(0, 256) + "..." : value)
        }
    </dd>
</dl>