@using QA.ProductCatalog.Admin.WebApp.Core
@model QA.Core.DPC.UI.EntityCollection
<!--EntityCollection
	Items: @Model.Items
	Template: @Model.ItemTemplate
	SeparatorTemplate: @Model.SeparatorTemplate
	-->
@{
	if (Model == null || (Model.Hidden ?? false)) {return;}
	
	bool isFirst = true;

	string separator = null;
	
	foreach (var item in Model.GetChildren())
	{
		if (!isFirst)
		{
			if (separator == null)
			{
				separator = Html.DisplayFor(x => Model.SeparatorTemplate).ToString();
			}
			
			@Html.Raw(separator)
		}
		
		isFirst = false;
		
		if (Model.InheritStackPanel && Model.Parent is QA.Core.DPC.UI.StackPanel)
		{
			<div class="stack-panel-item">
				@Html.DisplayForUIElement(item)
			</div>
		}
		else
		{
			@Html.DisplayForUIElement(item)
		}
	}
}
