@model Label
@if (Model == null || Model.Hidden) { return; }
@{
    var title = Model.Title;
    if (string.IsNullOrEmpty(title)) { return; }
}
@helper CheckStyle(string model, string css)
{
    <text>@(model != null ? (css + ": " + model) + ";" : "")</text>
}
<span id="@Model.UId" title="@(title)" class="label @Model.TextOverflow @Model.ClassName" style="@CheckStyle(Model.FontColor, "color") @CheckStyle(Model.MaxWidth, "max-width") @CheckStyle(Model.FontSize, "font-size") @CheckStyle(Model.FontWeight, "font-weight")">@Model.ReplaceNotesIfNeeded(title, Model.HtmlEncode)</span>