@using QA.Core.Models.UI
@using QA.Core.Extensions
@using QA.ProductCatalog.Admin.WebApp.Core
@using QA.Core.DPC.UI
@using QA.Core.DPC.UI.Controls
@model TabStrip
@if (Model == null || (Model.Hidden ?? false)) { return; }
@{
    var items = Model.GetChildren();
    string defaultItemId = null;
    var hash = "tabstrip_si" + Html.GetUniqueId("tabstrip");
    int i = 0;
}
<div data-name="@hash" id="@Model.UId" class="tabstrip hidden bp3-tabs tabs @(Model.IsFullSized? "tabstrip_fullsized": "") ">
    <ul class="bp3-tab-list tab-list tabstrip-header" role="tablist">
        @foreach (var item in items)
        {
            if (!(item.Hidden ?? false))
            {
                if (defaultItemId == null && item is TabStripItem)
                {
                    defaultItemId = ((TabStripItem)item).IsDefault ? item.UId : (string)null;
                }
              
                var title = (item as ITitled<object>)?.Title ?? "не указано";
                <li id="@item.UId" data-order="@(i++)" class="bp3-tab tab tabstrip-header-item" role="tab">@title</li>
            }
        }
    </ul>

    @foreach (var item in items)
    {
        if (!(item.Hidden ?? false))
        {
          <div class="bp3-tab-panel tab-panel tabstip-item @(Model.IsFullSized ? "tabstrip__item_fullsized" : "")" role="tabpanel">
            @{
              var tabStripItem = item as TabStripItem;
              var group = item as Group;
              if (tabStripItem != null)
              {
                @Html.DisplayFor(x => tabStripItem)
              }
              else if (group != null)
              {
                @Html.DisplayFor(x => group)
              }
            }
          </div>
        }
    }
</div>
<script>
    $(function () {
      QA.Product.TabStrip.init(
        "@Model.UId",
        "@defaultItemId",
        '@Model.IsFullSized.ToString().ToLower()' == 'true', {
            tabPosition: '@Model.TabPosition.ToString().ToLower()',
            collapsible: '@Model.Collapsible.ToString().ToLower()' == 'true'
        });
    });
</script>