@using QA.Core.DPC.Resources
@using QA.Core.Models.Configuration
@using QA.ProductCatalog.Admin.WebApp.Core
@model QA.ProductCatalog.Admin.WebApp.Models.DefinitionContentInfo

<div class="display-label">
  @Html.LabelFor(x => x.ContentId)
</div>
<div class="display-field">
  @Html.DisplayFor(x => x.ContentId)
</div>

<div class="editor-label">
  @ControlStrings.CacheSettings
</div>
<div class="editor-field">
  @if (Model.AlreadyCachedAsDictionary)
  {
    <span class="EditorNote">@ControlStrings.AlreadyCached</span>
  }
  else
  {
    @Html.CheckBoxFor(x => x.CacheEnabled, new { onchange = "ChangeCachePeriodTxVisibility()", id = "cbCacheEnabled" })
    <label for="cbCacheEnabled">@ControlStrings.ProceedCaching</label>
    @Html.TextBoxFor(x => x.CachePeriod, new { id = "txCachePeriod" })

    <script>
      function ChangeCachePeriodTxVisibility() {
        var txCachePeriod = $("#txCachePeriod");

        var cbCacheEnabled = $("#cbCacheEnabled");

        if (cbCacheEnabled[0].checked) {

          txCachePeriod.show();

          if (txCachePeriod.val() == "")
            txCachePeriod.val("01:45:00");

        } else {
          txCachePeriod.hide();
        }
      }

      ChangeCachePeriodTxVisibility();
    </script>
  }
</div>
<div class="editor-label">
  @Html.LabelFor(x => x.ContentName)
</div>
<div class="editor-field">
  @Html.EditorFor(x => x.ContentName)
</div>

@if (!Model.IsFromDictionaries)
{
  <div class="editor-label">
    @Html.LabelFor(x => x.IsReadOnly)
  </div>
  <div class="editor-field">
    @Html.EditorFor(x => x.IsReadOnly)
  </div>

  <div class="editor-label">
    @Html.LabelFor(x => x.LoadAllPlainFields)
  </div>
  <div class="editor-field">
    @Html.EditorFor(x => x.LoadAllPlainFields)
  </div>

  <div class="editor-label">
    @Html.LabelFor(x => x.PublishingMode)
  </div>
  <div class="editor-field">
    @Html.DropDownListFor(
      x => x.PublishingMode, 
      Html.GetEnumSelectList(typeof(PublishingMode))
    )
  </div>
}

@Html.HiddenFor(x => x.IsFromDictionaries)
