@using QA.Core.Models.Configuration
@model QA.ProductCatalog.Admin.WebApp.Models.DefinitionContentInfo
		   
<div class="display-label">
	@Html.LabelFor(x => x.Content.ContentId)
</div>
<div class="display-field">
	@Html.DisplayFor(x => x.Content.ContentId)
</div>

<div class="editor-label">
	Настройки кеширования
</div>
<div class="editor-field">
	@if (Model.AlreadyCachedAsDictionary)
	{
		<span class="EditorNote">Контент уже кешируется как словарь</span>
	}
	else
	{
		@Html.CheckBox("Content.CacheEnabled", XmlMappingBehavior.GetCachePeriod(Model.Content) != null, new {onchange = "ChangeCachePeriodTxVisibility()", id = "cbCacheEnabled"})
		<label for="cbCacheEnabled">Кешировать</label>
		@Html.TextBox("Content.CachePeriod", XmlMappingBehavior.GetCachePeriod(Model.Content), new {id = "txCachePeriod"})
	
		<script>
			function ChangeCachePeriodTxVisibility() {
				var txCachePeriod = $("#txCachePeriod");

				var cbCacheEnabled = $("#cbCacheEnabled");

				if (cbCacheEnabled[0].checked) {
				
					txCachePeriod.show();

					if (txCachePeriod.val() == "")
						txCachePeriod.val("01:45:00");

				} else {
					txCachePeriod.hide();
				}
			}

			ChangeCachePeriodTxVisibility();
		</script>
	}
</div>
<div class="editor-label">
	@Html.LabelFor(x => x.Content.ContentName)
</div>
<div class="editor-field">
	@Html.EditorFor(x => x.Content.ContentName)
</div>

@if (!Model.IsFromDictionaries)
{
	<div class="editor-label">
		@Html.LabelFor(x => x.Content.LoadAllPlainFields)
	</div>
	<div class="editor-field">
		@Html.EditorFor(x => x.Content.LoadAllPlainFields)
	</div>

	<div class="editor-label">
		@Html.LabelFor(x => x.Content.PublishingMode)
	</div>
	<div class="editor-field">
		@Html.EnumDropDownListFor(x => x.Content.PublishingMode)
	</div>
}

@Html.HiddenFor(x=>x.IsFromDictionaries)
