@using System.Globalization
@using QA.Core.DPC.Resources

<script>
  window.highloadFront = {
    legend: "@HfStrings.HighloadFront",
    customerCode: "@ViewBag.CustomerCode",
    processingIndex: "@HfStrings.ProceedIndexing",
    culture: "@CultureInfo.CurrentCulture.Parent.EnglishName",
    columnHeaders: {
      default: "@HfStrings.Default",
      language: "@HfStrings.Language",
      type: "@HfStrings.Type",
      date: "@HfStrings.Date",
      processing: "@HfStrings.Processing",
      updating: "@HfStrings.Updating",
      progress: "@HfStrings.Progress",
    }
  }
</script>

<div id="root"></div>
<script src="~/js/bundles/HighloadFront/HighloadFront.js"></script>