@using System.Globalization
@using QA.Core.DPC.Resources

@section head {
  <link href="~/css/HighloadFront/Index.css" rel="stylesheet" />
}

<script>
  window.highloadFront = {
    CustomerCode: "@Html.Raw(@ViewBag.CustomerCode)",
    Culture: "@Html.Raw(@CultureInfo.CurrentCulture.Parent.EnglishName)",
    strings: {
      HighloadFront: "@Html.Raw(HfStrings.HighloadFront)",
      ProceedIndexing: "@Html.Raw(@HfStrings.ProceedIndexing)",
      Default: "@Html.Raw(@HfStrings.Default)",
      Language: "@Html.Raw(@HfStrings.Language)",
      Type: "@Html.Raw(@HfStrings.Type)",
      Date: "@Html.Raw(@HfStrings.Date)",
      Processing: "@Html.Raw(@HfStrings.Processing)",
      Updating: "@Html.Raw(@HfStrings.Updating)",
      Progress: "@Html.Raw(@HfStrings.Progress)",
      Status: "@Html.Raw(@HfStrings.Status)",
    },
    notify: {
      imgPath: '@Url.Content("~/images/TaskStates/")',
    }
  };
</script>

<div id="root"></div>
<script src="~/js/pmrpc.js"></script>
<script src="~/js/bundles/HighloadFront/Index.js"></script>