@using QA.ProductCatalog.Integration.Notifications
<div class="formLayout">
    <fieldset>
        <legend>HighloadFront</legend>
        <table border="0" id="tasks" class="inner-groupping-table" data-customer-code="@ViewBag.CustomerCode">
            <thead>
                <tr>
                    <th>По умолчанию</th>
                    <th width="100px" align="center">Язык</th>
                    <th width="130px">Тип</th>
                    <th colspan="2">Обработка</th>
                    <th width="200px">Обновление</th>
                    <th width="300px"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: tasks">
                <tr>
                    <td align="center">
                        <input type="checkbox" disabled  data-bind="checked: isDefault"/>
                    </td>
                    <td align="center" data-bind="text: channelLanguage"></td>
                    <td align="center" data-bind="text: channelState"></td>                    
                    <td width="20" align="center">
                        <img data-bind="attr: { src: $parent.getStateLogo($data), title: taskMessage }" src="~/Content/img/icons/0.gif"/>
                    </td>
                    <td width="100">
                        <img src="~/Content/KendoUI/Default/loading.gif" style="display:none" />
                        <a href="#" class="js" data-bind="click: $parent.index, visible: $parent.isButtonVisible($data)">индексировать</a>
                    </td>
                    <td align="center" data-bind="text: getTimePassed(taskStart, taskEnd)"></td>
                    <td>
                        <div data-bind="updateProgress: taskProgress"></div>
                    </td>
                </tr>          
            </tbody>
        </table>
</fieldset>
</div>

@section head{
    @Styles.Render("~/content/KendoUI/KendoUIStyles")
}

@section scripts{
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/KendoUI")
    @Scripts.Render("~/Scripts/HighloadFront.js")
}