@using System.Globalization
@using QA.Core.DPC.Resources

<script>
  window.highloadFront = {
    legend: "@Html.Raw(HfStrings.HighloadFront)",
    customerCode: "@Html.Raw(@ViewBag.CustomerCode)",
    processingIndex: "@Html.Raw(@HfStrings.ProceedIndexing)",
    culture: "@Html.Raw(@CultureInfo.CurrentCulture.Parent.EnglishName)",
    columnHeaders: {
      default: "@Html.Raw(@HfStrings.Default)",
      language: "@Html.Raw(@HfStrings.Language)",
      type: "@Html.Raw(@HfStrings.Type)",
      date: "@Html.Raw(@HfStrings.Date)",
      processing: "@Html.Raw(@HfStrings.Processing)",
      updating: "@Html.Raw(@HfStrings.Updating)",
      progress: "@Html.Raw(@HfStrings.Progress)",
    }
  }
</script>

<div id="root"></div>
<script src="~/js/bundles/HighloadFront/Index.js"></script>