@using QA.ProductCatalog.Admin.WebApp.Core
@model QA.ProductCatalog.Admin.WebApp.Models.ProductEditorSchemaModel
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head root-url="@Url.Content("~")">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <title>@(ViewBag.Title ?? "DPC")</title>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,fetch,Array.prototype.includes,Object.values,Object.entries,Element.prototype.closest"></script>
</head>
<body>
  <pre><code id="typeScriptCode">Loading...</code></pre>
  <script type="text/javascript">
      window.editorSchema = @Html.Raw(Model.EditorSchema);
      window.mergedSchema = @Html.Raw(Model.MergedSchema);
  </script>
  <script src="@Url.VersionedContent("~/js/Bundles/ProductEditor/TypeScriptSchema.js")"></script>
</body>
</html>